@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/utilities/sprites";

// set up variables
$width: 970px;
$height: 250px;

// Uncomment to include sprites in your banner
// $sprites: sprite-map("sprites/*.png");

// to use sprites, place the image in the sprites folder and set the background for the desired element as follows:
// .element { background: sprite($sprites, image-name); }

// set all elements to be box-sizing: border box to include any border, padding and content, but not margin.
*, :before, :after {
	@include box-sizing(border-box);
}

// 100% width and height elements that can be positioned easily absolutely
.abs-pos {
	position: absolute;
	top: 0px;
	left: 0px;
	width: $width;
	height: $height; 
	overflow: hidden;
}

#wrapper {
	@extend .abs-pos;
	position: relative;	
	visibility: hidden; 
	border: 1px solid #000000;

	&.show {
		visibility: visible;
	}
}

#clickThrough {
	@extend .abs-pos;
	cursor: pointer;
	background-color: rgba(255,255,255,0);
}

/* video elements */
.video_holder{
	@extend .abs-pos;
	background-color: #000000;
} 

#videoClass {
	@extend .abs-pos;
}


/*3D frame*/
#morph3D_holder {
	@extend .abs-pos;
}

#morph3D_BG {
	@extend .abs-pos;
	background: url("../img/morph3D_BG.jpg") no-repeat;
}

#morph3D_copy {
	@extend .abs-pos;
	pointer-events: none;
	background: url("../img/morph3D_copy.png") no-repeat;
}

#frameGrabber {
	@extend .abs-pos;
	pointer-events: none;
	background: url("../img/frameGrabber.png") no-repeat;
}

/*main menu*/
#mainMenu {
	@extend .abs-pos;
	pointer-events: none;
}

.menuBtn {
	@extend .abs-pos;
	width: 162px;
	height: 44px;
	background-color: #d83b01;
	pointer-events: auto;
	cursor: pointer;
}

#menuBtn1{
	top: 55px;
}

#menuBtn1_copy {
	@extend .abs-pos;
	width: 83px;
	height: 19px;
	left: 40px;
	top: 12px;
	background: url("../img/menuBtn1_copy.png") no-repeat;
}

#menuBtn2{
	top: 103px;
}

#menuBtn2_copy {
	@extend .abs-pos;
	width: 46px;
	height: 14px;
	left: 58px;
	top: 15px;
	background: url("../img/menuBtn2_copy.png") no-repeat;
}

#menuBtn3{
	top: 151px;
}

#menuBtn3_copy {
	@extend .abs-pos;
	width: 67px;
	height: 18px;
	left: 48px;
	top: 13px;
	background: url("../img/menuBtn3_copy.png") no-repeat;
}

/*End Frame*/
#endFrame_BG {
	@extend .abs-pos;
	background-color: #000000;
}

#logo {
	@extend .abs-pos;
	background: url("../img/logo.png") no-repeat;
}

#endFrame_copy {
	@extend .abs-pos;
	background: url("../img/endFrame_copy.png") no-repeat;
}

#backBtn {
	position: absolute;
	width: 100px;
	height: 46px;
	top: 5px;
	left: 859px;
	background: url("../img/backBtn.png") no-repeat;
	cursor: pointer;
}

#replayBtn {
	position:absolute;
	top: 19px;
	right: 22px;
	cursor: pointer;
}

canvas { 
	width: 300px;
	height: 250px;
	position: absolute;
}

#morph3DModel {
	width: 300px;
	height: 250px;
	position: absolute;
	left: 304px;
}

#cta {
	@extend .abs-pos;
	background: url("../img/cta.png") no-repeat;
}